<aside class="cover">

  <div class="cover container">
    <div class="profile">
      {{#if @blog.logo}}
      <a id="avatar-link" title="link to homepage for {{@blog.title}}" href="javascript:history.back()">
        <img src="{{@blog.logo}}" alt="{{@blog.title}} avatar" class="profile avatar hvr-buzz-out" />
        <h1>Kiko Beats</h1>
      </a>
      {{/if}}

      <hr class="divider long" />
      <p>{{@blog.description}}</p>
      <hr class="divider short" />
      <div class="navigation">
        {{> search }}
        <div class="profile contact">
          {{> links}}
          {{> social}}
        </div>
      </div>
    </div>
  </div>
</aside>
