<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="/#open" title="link to {{@blog.title}} blog" id="blog-button">About</a>
      <a href="/#open" title="link to {{@blog.title}} blog" id="blog-button">Tags</a>
      <a href="/#open" title="link to {{@blog.title}} blog" id="blog-button">Contact</a>
    </li>
  </ul>
</nav>
