<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="/#open" class="link-item" title="" id="about-button">Articles</a>
      <a href="/#open" class="link-item" title="" id="tags-button">About</a>
      <a href="/#open" class="link-item" title="" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
