<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="/about" class="link-item" title="" id="tags-button">About</a>
      <a href="mailto:josefrancisco.verdu@gmail.com?subject=Hello, I saw your web!" class="link-item" title="" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
