{{#if next}}
<hr class="post-list__divider " />

<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts pagination__newer btn btn-small" href="{{page_url prev}}#open">&larr; Newer Posts</a>
    {{/if}}
    <span class="pagination__page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts pagination__older btn btn-small" href="{{page_url next}}#open">Older Posts &rarr;</a>
    {{/if}}
</nav>
{{/if}}
