<div class="navigation-wrapper">
  <form id="search">
    <i class="icon icon-search"></i>
    <input type="text", name="search", placeholder="git, css, javascript,..." id="search-field" />
    <hr class="divider short" />
  </form>
</div>
