<section class="icon icon-search" id="search-container">
  <hr class="divider short" />
  <form target="blank" id="search-form" action="https://www.google.com/#q=site:{{@blog.url}}">
    <input type="text" name="search" placeholder="git, css, javascript,..." id="search-field" />
  </form>
</section>
