
$gray-darkest    : #333333;
$gray-darker     : #666666;
$gray-dark       : #999999;
$gray            : #CCCCCC;
$gray-light      : #DDDDDD;
$gray-lighter    : #EEEEEE;
$gray-lightest   : #F8F8F8;

$green           : #156F78;
$red             : #c0392b;
$purple          : #493252;
$slate           : #3D4260;

$primary-color   : lighten(#156F78, 20%);
$secondary-color : $gray-dark;

$link-color      : $gray-darkest;
$hover-color     : $primary-color;

$sans-font       : 'Raleway', sans-serif;
$serif-font      : 'Roboto Slab', serif;

$cover-color-first  : rgba(14, 44, 71, 0.31);
$cover-color-second : rgba(67, 148, 162, 0.51);

$border-radius   : 3px;
