.cover {
  position: fixed;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  @include background-filter;

  &.animated {
    transition: width $aside-animation-time $animation-ease;
  }

  &.collapsed {
    width: $aside-width-collapsed;
  }
  &.container {
    font-weight: $font-weight-thin;
    text-align: center;
    color: $gray-lightest;
    @include center-absolute;
    @include font-shadow;
  }
}

.profile {
  max-width: 38.75rem;
  margin: 0 auto;

  > p {
    font-size: .9rem;
    margin: 0 2rem;
  }
  > a {
    > img {
      width: 10rem;
      margin-bottom: 1.2rem;
      border: 2px solid $primary-color;
      border-radius: 50%;
      box-shadow: 0 0 1px 1px rgba(000, 000, 000, .3);
    }
    > h1 {
    font-family: $sans-font;
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    margin: 0;
    color: $gray-lightest;
    }
  }
  &.contact {
    > nav {
      position: relative;
      display: inline-block;
      padding: .25rem 0;
    }
  }
}

.links,
.social {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0;
  list-style-type: none;
}

.links {
  margin: 0;

  &.item {
    display: inline-block;
    margin: 0 1px 0 0;
    line-height: 1em;
    a {
      @include btn-cover;
      padding: .625rem 1.25rem;
    }
  }
}

.social {
  &.expanded {
    margin: 0 0 0 1.5rem;
  }

  &.item {
    display: inline-block;
    margin: 0 4px 0 0;
    line-height: 1em;
    a {
      @include btn-cover;
      padding: 6px 8px 6px 9px;
      .label {
        display: none;
      }
      .icon {
        display: block;
        font-size: 1.7em;
      }
    }
  }
}
