i {
  font-family: 'entypo';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}
.icon-social {
  position: relative;
  display: block;
  font-family: 'entypo-social';
  font-size: 22px;
}
