// ------------------------------
// MEDIA QUERIES
// ------------------------------

// @media only screen and (max-width:1428px) {
//   .content-wrapper {
//     left: 30%;
//     padding: 40px 9%;
//   }
//   .panel-main__inner {
//     padding: 0 0;
//   }
//   #search-field {
//     widows: 60%;
//   }
//   #back-button {
//     margin-left: 0;
//   }
// }

// ------------------------------
// < 1023px
// ------------------------------

@media all and (max-width:1023px) {

  // .btn-mobile-menu {
  //   display: block;
  // }

  // .cover {
  //   position: relative;
  //   &.collapsed {
  //     display: block;
  //     width: 100%;
  //     height: 9rem;
  //     padding-top: 1.7rem;

  //   &.container {

  //     }
  //   }
  // }

  // .profile {
  //   > a {
  //     > img {
  //       width: 15%;
  //       border-width: 2px;
  //       margin-bottom: 0;
  //     }

  //     > h1 {
  //       font-size: 23px;
  //       margin-top: 8px;
  //     }
  //   }

  //   > p,
  //   .divider {
  //     display: none;
  //   }
  // }

  // #search-field {
  //   width: 50%;
  //   height: 38px;
  //   padding: 0;
  //   text-align: center;
  // }


  // .pace,
  // .post.reading-time,
  // #back-button {
  //   display: none;
  // }


  // .navigation {
  //   position: fixed;
  //   top: 42px;
  //   right: 0;
  //   left: 0;
  //   display: none;
  //   width: 100%;
  //   padding: 20px 0;
  //   background: rgba($gray-darkest,.98);
  //   border-bottom: 1px solid rgba(255, 255, 255, .15);
  //   &.visible {
  //     display: block;
  //   }
  // }
  // .cover-navigation {
  //   position: relative;
  //   display: block;
  //   float: left;
  //   width: 100%;
  //   clear: left;
  //   .navigation {
  //     display: block;
  //     width: 100%;
  //     li {
  //       width: 80%;
  //       margin-bottom: .4em;
  //     }
  //   }
  //   &.navigation--social {
  //     padding-top: 5px;
  //     .navigation {
  //       li {
  //         display: inline-block;
  //         width: 25.8%;
  //       }
  //     }
  //   }
  // }
  // .main {
  //   width: 80%;
  //   max-width: none;
  //   margin-top: 23%;
  //   left: 0;
  //   padding: 40px 10%;

  //   > .content {
  //     padding: 15px 0;
  //     margin-right: 0;
  //     margin-left: 0;
  //   }
  // }

  // .navigation__item {
  //   width: 100%;
  //   margin: 0 0 .4em 0;
  // }
}
// ------------------------------
// < 500px
// ------------------------------

@media all and (max-width:500px) {

  #feature-title {
    text-align: left;
  }

  .mayday {
    > h1 {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .astro-options {
    padding: 0 4rem;
  }

  #panic-button {
    margin-bottom: 1rem;
  }
  .panel-title {
    margin-bottom: .1em;
    font-size: 1.5em;
  }
  .panel-subtitle {
    font-size: .9em;
  }
  .btn {
    display: block;
    margin-bottom: .4em;
  }

  .panel-cover__logo {
    width: 20% !important;
  }

  .panel-cover__title {
    font-size: 17px !important;
  }

  .panel-cover__divider {
    margin: 15px auto;
  }

  .panel-cover__description {
    font-size: 14px;
    padding: 0 .85rem;
  }

  .pagination__page-number {
    display: none;
  }

  .pagination__newer,
  .pagination__older {
    padding: 1rem;
  }

  .pagination__newer {
    margin: 0 0 25px 0;
  }

  .pagination__older {
    margin: 0 0 10px 0;
  }
}
