// ------------------------------
// MEDIA QUERIES
// ------------------------------

@media only screen and (max-width:1428px) {
  .content-wrapper {
    left: 30%;
    padding: 40px 9%;
  }
  .panel-main__inner {
    padding: 0 0;
  }
  #search-field {
    widows: 60%;
  }
  #back-button {
    margin-left: 0;
  }
}
// ------------------------------
// < 1023px
// ------------------------------

@media all and (max-width:1023px) {
  .content-wrapper__inner {
    padding: 15px 0;
  }
  .pace,
  .post-button,
  .post-meta__read {
    display: none !important;
  }
  .content-wrapper {
    left: 0;
  }
  #search-field {
    width: 50%;
    height: 38px;
    padding: 0;
    text-align: center;
  }
  .icon-search {
    left: 47.5%;
  }
  .btn-mobile-menu {
    display: block;
  }
  .panel-main {
    position: relative;
    display: table;
    padding: 15px 0;
    margin-top: 43px;
  }
  .panel-cover--collapsed {
    width: 100%;
    max-width: none;
  }
  .panel-cover__description {
    display: block;
    max-width: 600px;
    margin: 0 auto;
  }
  .panel-cover__divider--secondary {
    display: none;
  }
  .panel-cover {
    width: 100%;
    height: 100%;
    background-position: center center;
    &.panel-cover--collapsed {
      position: relative;
      display: block;
      height: auto;
      padding: 0;
      background-position: center center;
      .panel-main__inner {
        display: block;
      }
      .panel-cover__logo {
        width: 60px;
        border-width: 2px;
      }
      .panel-cover__description {
        display: none;
      }
      .panel-cover__divider {
        display: none;
        margin: 1em auto;
      }
    }
  }
  .navigation-wrapper {
    position: fixed;
    top: 42px;
    right: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 20px 0;
    background: rgba($gray-darkest,
    .98);
    border-bottom: 1px solid rgba(255,
    255,
    255,
    .15);
    &.visible {
      display: block;
    }
  }
  .cover-navigation {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    clear: left;
    .navigation {
      display: block;
      width: 100%;
      li {
        width: 80%;
        margin-bottom: .4em;
      }
    }
    &.navigation--social {
      padding-top: 5px;
      .navigation {
        li {
          display: inline-block;
          width: 25.8%;
        }
      }
    }
  }
  .content-wrapper {
    width: 80%;
    max-width: none;
    margin-top: 185px;
  }
  .content-wrapper__inner {
    margin-right: 0;
    margin-left: 0;
  }
  .navigation__item {
    width: 100%;
    margin: 0 0 .4em 0;
  }
}
// ------------------------------
// < 500px
// ------------------------------

@media all and (max-width:500px) {
  #feature-title {
    text-align: left;
  }
  .panel-title {
    margin-bottom: .1em;
    font-size: 1.5em;
  }
  .panel-subtitle {
    font-size: .9em;
  }
  .btn {
    display: block;
    margin-bottom: .4em;
  }
}
