.links,
.social {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0;
  list-style-type: none;
}

.links {
  margin: 0;

  &.item {
    display: inline-block;
    margin: 0 1px 0 0;
    line-height: 1em;
    a {
      @include btn-cover;
      padding: 10px 20px;
    }
  }
}

.social {
  &.expanded {
    margin: 0 0 0 1.5rem;
  }

  &.item {
    display: inline-block;
    margin: 0 4px 0 0;
    line-height: 1em;
    a {
      @include btn-cover;
      padding: 6px 8px 6px 9px;
      .label {
        display: none;
      }
      .icon {
        display: block;
        font-size: 1.7em;
      }
    }
  }
}


// .cover-navigation--social {
//   margin-left: 30px;
// }


// .panel-main__content--fixed {
//   width: 480px;
//   -webkit-transition: width 1s; /* Safari */
//   transition: width 1s;
// }

// .panel {
//   display: table;
//   width: 100%;
//   height: 100%;
// }
// .panel__vertical {
//   display: table-cell;
//   vertical-align: middle;
// }
