.posts {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style-type: none;

  > li {
    > a {
      > *:hover {
        color: $hover-color;
        transition: all $aside-animation-time;
      }
      > h2 {
        margin-bottom: 1rem;
        transition: all $aside-animation-time;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    > p {
      margin-bottom: 1rem;
      font-size: .9em;
      color: $gray-dark;
    }
  }
}
.post {
  > p {
    > img {
      width: 100%;
      margin: 1.5rem auto;
      text-align: center;
      border-radius: $border-radius;
    }
    > a {
      transition: all $aside-animation-time;

      &::after {
        position: absolute;
        bottom: -.5px;
        left: 0;
        width: 100%;
        height: 0;
        content: '';
        border-bottom: 1px solid $primary-color;
      }
      &:hover {
        border-color: $hover-color;
      }
    }
  }
  pre {
    width: 95%;
  }
  hr {
    display: block;
    width: 30%;
    margin: 2em 0;
    border-top: 1px solid $gray-light;
  }
  > header {
    text-align: center;
  }
  &.meta {
    margin: .7em 0;
    font-size: .85rem;
    color: $gray;
  }
  &.tags {
    > a {
      padding: .167rem .25rem;
      font-size: .55rem;
      color: darken($primary-color,
      100%);
      color: $gray-lightest;
      text-transform: uppercase;
      background-color: rgba($primary-color,
      .7);
      border-radius: .25rem;
      transition: all $aside-animation-time;

      &:hover {
        background-color: rgba($primary-color, 1);
      }
    }
  }
  &.author {
    margin-left: 1.2em;

    img {
      display: inline-block;
      height: 22px;
      vertical-align: middle;
      border: none;
      box-shadow: none;
    }
  }
  &.comments {
    padding: 3.75rem 0;
    border-top: 1px solid $gray-light;
  }
}
#back-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
#post-image {
  max-width: 100%;
  margin-top: 1rem;
}
#post-title {
  margin: 3rem 0 2.5rem;
  transition: all $aside-animation-time;

  &:hover {
    color: $hover-color;
  }
}
