.posts {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style-type: none;

  > li {
    > a {
      > h2 {
        margin-bottom: 1rem;
        line-height: 3rem;
        transition: all $aside-animation-time;

        &:hover {
          color: $hover-color;
          transition: all $aside-animation-time;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

#post-content {
  a {
    transition: all $aside-animation-time;

    &::after {
      position: absolute;
      bottom: -.5px;
      left: 0;
      width: 100%;
      height: 0;
      content: '';
      border-bottom: 1px solid $primary-color;
    }
    &:hover {
      border-color: $hover-color;
    }
  }
}

.post {
  > p {
    > img {
      width: 100%;
      margin: 1.5rem auto;
      text-align: center;
      border-radius: $border-radius;
    }
  }
  pre {
    width: 95%;
  }

  > header {
    text-align: center;
  }
  &.description {
    margin-bottom: 1rem;
    font-size: .9em;
    color: $gray-dark;
  }
  &.meta {
    margin: .7em 0;
    font-size: .85rem;
    color: $gray;
  }
  &.tags {
    > a {
      padding: .167rem .25rem;
      font-size: .55rem;
      color: $gray-lightest;
      text-transform: uppercase;
      background-color: rgba($primary-color, .7);
      border-radius: .25rem;
      transition: all $aside-animation-time;

      &:hover {
        background-color: rgba($primary-color, 1);
      }
    }
  }
  &.author {
    img {
      margin: 0 0.5rem;
      display: inline-block;
      height: 22px;
      vertical-align: middle;
      border: none;
      box-shadow: none;
    }
  }
  &.comments {
    padding: 2rem 0 0 0;
  }

  &.related {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 2rem 0;
  }
}

#post-image {
  max-width: 100%;
  margin-top: 1rem;
}

#post-title {
  margin: 3rem 0 2.5rem;
  transition: all $aside-animation-time;

  &:hover {
    color: $hover-color;
  }
}
