.posts {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style-type: none;
  > li {
    > h2 {
      margin-bottom: 1rem;
      font-size: 1.5em;
      line-height: 1.3em;
      &:first-child {
        margin-top: 0;
      }
    }
    > p {
      margin-bottom: 1rem;
      font-size: .9em;
      color: $gray-dark;
    }
  }
}
.post {
  img {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border-radius: $border-radius;
  }
  pre {
    width: 95%;
  }
  hr {
    display: block;
    width: 30%;
    margin: 2em 0;
    border-top: 1px solid $gray-light;
  }
  > header {
    text-align: center;
  }
  &.meta {
    margin: .7em 0;
    font-size: .85rem;
    color: $gray;
  }
  &.tags {
    a {
      padding: .167rem .25rem;
      font-size: .55rem;
      color: darken($primary-color, 100%);
      color: $gray-lightest;
      text-transform: uppercase;
      background-color: rgba($primary-color, .7);
      border-radius: .25rem;
      &:hover {
        background-color: rgba($primary-color, 1);
      }
    }
  }

  &.author {
    margin-left: 1.2em;

    img {
      display: inline-block;
      vertical-align:middle;
      height: 22px;
      border: none;
      box-shadow: none;
    }
  }

  &.comments {
    padding: 60px 0;
    border-top: 1px solid $gray-light;
  }
}

#back-button {
  position: absolute;
  left: 0;
  top: 1.8rem;
}

#post-image {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 6%;
}

#post-title {
  margin-bottom: 4rem;
  text-align: center;
}
