#search-form {
  padding: .25rem 0;
}

#search-field {
  width: 12.5rem;
  height: .4rem;
  padding: 5% 5px 5% 18px;
  border: 1.5px solid lighten($hover-color, 5%);
  border-radius: 1.68rem;
}

#search-results {
  text-align: center;
  &.active {
    margin-top: 3rem;
    margin-bottom: 9rem;
  }

  > p {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
}

.result {
  > h2,
  > h4 {
    color: $gray-darker;
  }

  display: block;
  padding: 1rem;
  margin-bottom: 1.3rem;
  text-decoration: none;
  word-wrap: break-word;
  border: 1px solid $primary-color;
  border-radius: 5px;
  &:hover {
    transition: .5s;
    > h2,
    > h4 {
      color: $hover-color;
      transition: .5s;
    }
  }
}

.icon-search {
  position: absolute;
  top: 30.8rem;
  left: 16.5rem;
  color: $gray;
  text-shadow: 1px 1px 0 $gray;
}
