.btn {
  padding: 10px 20px;
  font-size: .9em;
  font-weight: bold;
  color: $primary-color;
  text-shadow: none;
  letter-spacing: 1px;
  border: 1px solid $primary-color;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  &.square {
    border-radius: 0;
  }
  &:hover {
    color: darken($primary-color, 15%);
    border-color: darken($primary-color, 15%);
  }
  &.small {
    padding: 8px 12px;
    font-size: .7em;
  }
  &.large {
    padding: 10px 24px;
    font-size: 1.1em;
  }
  &.secondary {
    color: $secondary-color;
    border-color: $secondary-color;
    &:hover {
      color: darken($secondary-color, 15%);
      border-color: darken($secondary-color, 15%);
    }
  }
}

#cover-button {
  display: none;
 > a {
  > i {
    position: relative;
    top: 3px;
    font-size: 36px;
    color: $gray-lightest;
  }
 }
}
