// ------------------------------
// BASICS
// ------------------------------

html {
  height: 100%;
  max-height: 100%;

  font-size: $unit;
}
html,
body {
  height: 100%;
}
body {
  font-family: $sans-font;

  color: $gray-darker;
}

mark {
  background: saturate($primary-color, 60%);
}

::selection {
  background: lighten($primary-color, 36%);
}
::-moz-selection {
  background: lighten($primary-color, 36%);
}
// ------------------------------
// TYPOGRAPHY
// ------------------------------

a {
  position: relative;

  transition: all $aside-animation-time;
  text-decoration: none;

  color: $link-color;

  &:hover {
    color: $hover-color;
  }
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: $serif-font;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;

  color: $gray-darkest;
}
h1 {
  margin: $margin-h1 0;

  font-size: $font-h1;
  line-height: 3rem;
}
h2 {
  margin: $margin-h2 0;

  font-size: $font-h2;
}
h3 {
  margin: $margin-h3 0;

  font-size: $font-h3;
}
h4 {
  margin: $margin-h4 0;

  font-size: $font-h4;
}
h5 {
  margin: $margin-h5 0;

  font-size: $font-h5;
}
h6 {
  margin: $margin-h6 0;

  font-size: $font-h6;
}
p {
  margin-bottom: 1.3rem;

  line-height: 1.7rem;

  > code {
    @include inline-code-style;
  }
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  > p {
    margin: 2.5rem -3rem;

    font-family: $quote-font;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    line-height: 1.4;

    text-align: center;
    letter-spacing: .01rem;
    word-wrap: break-word;
  }
}
// ------------------------------
// BASIC STYLING
// ------------------------------

ol,
ul {
  margin: 0 0 1.3rem 2.5rem;

  li {
    margin: 0 0 .2rem 0;

    line-height: 1.6rem;
  }
  ol,
  ul {
    margin: .1rem 0 .2rem 2rem;
  }
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}

li > code {
  @include inline-code-style;
}

pre {
  padding: 1rem 2.5%;
  margin-bottom: 1.3rem;

  font-family: $code-font;
  font-size: .9rem;
  font-weight: $font-weight-normal;
  line-height: 1.3rem;

  word-wrap: break-word;

  color: $gray-dark;
  border: 1px solid #d9d9d9;
  border-radius: 3px;

  > code {
    font-family: $code-font;
    font-size: .85rem;

    color: $gray-dark;
  }
}

code:hover,
pre:hover {
  color: $gray-darkest;
}
.block-heading {
  position: relative;
  bottom: -15px;

  font-size: .8rem;
  font-weight: bold;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include column(12);
}
.label {
  // position: relative;
  // display: inline-block;
  padding: 8px 18px 9px;
  // color: $gray-lightest;
  // text-align: center;
  // background: $primary-color;
  // border-radius: $border-radius;
}
// ------------------------------
// MAIN LAYOUT
// ------------------------------

.container {
  position: relative;
  z-index: 500;

  width: $total-width - $gutter-width;
  margin: 0 auto;
}
main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 22.5rem;

  padding: 2rem 3rem;

  &.expanded {
    overflow: hidden;
  }

  > .content {
    padding: 2rem 0;
    margin: 0 3.7rem;

    > h1 {
      margin-bottom: 2.7rem;
    }
    > footer {
      display: block;
      padding: 2em 0 0;

      font-size: .7em;

      color: lighten($gray-dark, 10%);
      border-top: 2px solid $gray-light;
    }
  }
}
.copyright {
  display: block;
  margin-bottom: .7em;

  a {
    text-decoration: underline;

    color: lighten($gray-dark, 5%);

    &:hover {
      color: $hover-color;
    }
  }
}
.divider {
  margin: 10px auto;

  border-top: 1px solid $divider-color;

  &.long {
    width: 30%;
  }
  &.short {
    width: 15%;
  }
  &.post {
    width: 30%;
    margin: 1.7rem 0;

    border-top: 1px solid $gray-light;
  }
}
hr {
  border: none;
}
