// ------------------------------
// BASICS
// ------------------------------

html, body {
  height: 100%;
  }

html {
  height: 100%;
  max-height: 100%;
  }

body {
  font-family: $sans-font;
  font-size: 1em;
  color: $gray-darker;
  }

::selection {
  background: lighten($primary-color, 36%);
  }

::-moz-selection {
  background: lighten($primary-color, 36%);
  }

// ------------------------------
// TYPOGRAPHYf
// ------------------------------

a {
  color: $link-color;
  text-decoration: none;
  // TODO
  &:hover {
    color: $hover-color;
    transition:.5s;
    }
  }

h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 3rem;
  margin-bottom: .8rem;
  font-family: $serif-font;
  font-weight: lighter;
  color: $gray-darkest;

  -webkit-font-smoothing: antialiased;
  }

h1 {
  margin-top: 0;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: .05em;
  // font-weight: 400;
  }

h2 {
  font-size: 1.8em;
  }

h3 {
  font-size: 1.5em;
  }

h4 {
  font-size: 1.25em;
  }

h5 {
  font-size: 1.05em;
  }

h6 {
  font-size: .86em;
  }

p {
  margin-bottom: 1.3em;
  line-height: 1.7em;
  }

strong {
  font-weight: bold;
  }

em {
  font-style: italic;
  }

blockquote {
  padding: 2em 0;
  margin: 1em 0;
  font-family: $serif-font;
  font-size: 1.3em;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  p {
    &:last-child {
      margin-bottom: 0;
      }
    }
  }

// ------------------------------
// BASIC STYLING
// ------------------------------

ol, ul {
  margin: 0 0 1.3em 2.5em;
  li {
    margin: 0 0 .2em 0;
    line-height: 1.6em;
    }
  ol, ul {
    margin: .1em 0 .2em 2em;
    }
  }

ol {
  list-style-type: decimal;
  }

ul {
  list-style-type: disc;
  }

code {
  padding:.1em .4em;
  font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size:.85em;
  color:#999;
  text-shadow:none;
  background:0 0;
  border:1.5px solid #d9d9d9;
  border-radius:3px;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
  }

pre {
  padding:1em 2.5%;
  margin-bottom:1.3em;
  font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  font-size:.9em;
  font-weight:400;
  line-height:1.3em;
  color:#999;
  word-wrap:break-word;
  background:0 0;
  border:1px solid #d9d9d9;
  border-radius:3px;
  }

pre code {
  padding:0;
  background:0 0;
  border:none;
  }

code:hover,pre:hover {
  color: $gray-darkest;
  }

.date,
.time,
.author,
.tags {
  font-size: .8em;
  color: darken($gray, 2%);
  a {
    padding: .166666666666667rem .25rem;
    font-size: .3rem;
    color: darken($primary-color, 100%);
    color: white;
    text-transform: uppercase;
    background-color: rgba($primary-color, .7);
    border-radius: .25rem;
    &:hover {
      background-color: rgba($primary-color, 1);
      }
    }
  }

.excerpt {
  margin: 0;
  font-size: .9em;
  color: $gray-dark;
  }

.intro {
  font-family: $serif-font;
  font-size: 1.2em;
  font-weight: lighter;
  color: $gray-dark;
  }

.block-heading {
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;

  @include column(12);
  }

.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  color: #fff;
  text-align: center;
  background: $primary-color;
  border-radius: $border-radius;
  }

// ------------------------------
// MAIN LAYOUT
// ------------------------------

.container {
  position: relative;
  z-index: 500;
  width: $total-width - $gutter-width;
  margin: 0 auto;
  }

.content-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 400px;
  padding: 40px 5%;
  }

.content-wrapper__inner {
  padding: 50px 0;
  margin: 0 10%;
  }

.footer {
  display: block;
  padding: 2em 0 0;
  font-size: .7em;
  color: lighten($gray-dark, 10%);
  border-top: 2px solid $gray-light;
  }

.footer__copyright {
  display: block;
  margin-bottom: .7em;
  a {
    color: lighten($gray-dark, 5%);
    text-decoration: underline;
    &:hover {
      color: $hover-color;
      }
    }
  }

// ------------------------------
// AVATAR & LOGO
// ------------------------------

.avatar,
.logo {
  border: 2px solid $primary-color;
  border-radius: 50%;
  box-shadow:0 0 1px 1px rgba(000,000,000,.3);
  }

// ------------------------------
// DIVIDERS
// ------------------------------

hr {
  border: none;
  }

.section-title__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid $gray-light;
  }

// ------------------------------
// MISC STYLES / HELPERS
// ------------------------------

.hidden {
  display: none !important;
  }

space-medium {
  display:block;
  height:100px;
  }
