.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.divider {
  margin: 15px auto;
  border-top: 1px solid rgba(255, 255, 255, .14);
  &.long {
    width: 50%;
  }
  &.short {
    width: 15%;
  }
  &.post {
    width: 30%;
    margin: 1.7rem 0;
    border-top: 1px solid $gray-light;
  }
}
