@mixin inline-code-style {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  padding: 0.09rem 0.2rem;
  font-family: $code-font;
  font-weight: $font-weight-normal;
  font-size: .85rem;
  color: $gray-dark;
}

@mixin background-filter {
  background: linear-gradient(150deg, $cover-secondary 30%, $cover-primary 70%)
  0 0/cover fixed,url(/assets/img/cover.jpg) center/cover no-repeat fixed;
}
@mixin center-absolute {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin font-shadow {
  text-shadow: 0 1px 1px rgba(000, 000, 000, .4);
}
@mixin btn-cover {
  position: relative;
  display: block;
  font-size: .9em;
  font-weight: bold;
  color: $gray-lightest;
  text-shadow: none;
  letter-spacing: 1px;
  border-radius: 20px;
  opacity: .8;
  -webkit-font-smoothing: antialiased;

  &:hover {
    opacity: 1;
  }
}

@mixin btn-cover-with-border {
  @extend btn-cover;
  border: 1px solid $gray-lightest;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}
