/* COLORS */

$gray-darkest       : #333;
$gray-darker        : #666;
$gray-dark          : #999;
$gray               : #ccc;
$gray-light         : #ddd;
$gray-lighter       : #eee;
$gray-lightest      : #f8f8f8;

$green              : #156f78;
$red                : #c0392b;
$purple             : #493252;
$slate              : #3d4260;

$primary-color      : lighten(#156f78, 20%);
$secondary-color    : $gray-dark;

$link-color         : $gray-darkest;
$hover-color        : $primary-color;

$sans-font          : 'Raleway', sans-serif;
$serif-font         : 'Roboto Slab', serif;
$code-font          : Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

$cover-color-first  : rgba(14, 44, 71, .31);
$cover-color-second : rgba(67, 148, 162, .51);

$border-radius      : 3px;

/* FONT */

$unit                : 1rem;

$font-size-tiny      : 0.8rem;
$font-size-small     : 1.2rem;
$font-size-normal    : 1rem;
$font-size-big       : 2rem;

$font-weight-thin    : 100;
$font-weight-normal  : 300;
$font-weight-bold    : 700;

/* OTHERS */

$animation-ease        : cubic-bezier(.02, .01, .47, 1);
$aside-width-collapsed : 22.5rem;
$aside-animation-time  : 400ms;
$aside-color-mobile    : #242B33;
